body {
  background: #fefefe;
}

image {
  align-items: center;
}

h1 {
  color: #4a3ac8;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

h2 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5em;
}

h3 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  color: #433a49;
  /* letter-spacing: 0.01em; */
}

div.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5e7fd;
  padding: 2rem;
  gap: 1rem;
  max-width: 50%;
  margin: auto;
}

.searchBarFlexChild {
  background-color: transparent;
  flex: 2;
  display: flex;
}

.searchButtonFlexChild {
  flex: 1;
  display: flex;
}

.searchButton {
  background-color: #4a3ac8;
  border: none;
  color: white;
  padding: 16px 80px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 7px;
  transition-duration: 0.4s;
}

.searchButton:hover {
  background-color: #2e237e;
}

.search-wrapper input {
  background-color: white;
  padding: 16px 24px;
  font-size: 1rem;
  color: #433a49;
  outline: none;
  border: 1px solid #4a3ac8;
  border-radius: 7px;
  width: 300px;
  display: block;
  width: 100%;
}

p.descriptionStyle {
  color: #433a49;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5em;
}

.yes {
  color: forestgreen;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
}

.no {
  color: rgb(139, 34, 34);
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
}

.apiImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 5rem;
  background-color: #4a3ac8;
}

.mainText {
  margin: auto;
  width: 70%;
}

@font-face {
  font-family: "BoldenVan";
  src: url("fonts/BoldenVan.woff");
}

/* light purple - #1D0330

dark purple #5403aa */
