body {
  background: #e2e2e5;
}

h1 {
  color: #4a3ac8;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

h2 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
}

h3 {
  font-family: BoldenVan, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  color: #433a49;
}

.apiImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@font-face {
  font-family: "BoldenVan";
  src: url("fonts/BoldenVan.woff");
}

/* light purple - #1D0330

dark purple #5403aa */
